$font-bernadette : 'bernadetteregular';
$fontLato		 : 'Lato', sans-serif;

// Color Pattern
$color-white	 : #fff;
$color-black	 : #020202;
$color-purple	 : #3f519a;
$color-purple	 : #de813c;

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	z-index: 10;
	.logo{
		float: left;
	}
	.menu{
		float: right;
		ul{
			list-style: none;
			margin-top: 16px;
			li{
				display: inline-block;
				a{
					color: $color-white;
					font-family: $fontLato;
					text-transform: uppercase;
					padding: 15px;
					text-decoration: none;
					font-weight: 600;
					font-size: 16px;
				}
			}
		}
	}
}

.banner{
	position: relative;
	.bg-banner{
		background-image: url(../images/banner.jpg);
		height: 110vh;
		background-size: cover;
		.decs-banner{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			h1{
				margin: 0;
				font-family: $font-bernadette;
				color: $color-white;
				font-size: 75px;
				margin-bottom: 35px;
			}
			h4{
				color: $color-white;
				font-family: $fontLato;
				font-size: 30px;
				font-weight: 600;
				margin-bottom: 30px;
			}
			p{
				color: $color-white;
				font-family: $fontLato;
				font-size: 14px;
				font-weight: normal;
			}
			.readmore{
				background-color: $color-white;
				padding: 12px 25px;
				border-radius: 30px;
				color: $color-black;
				font-weight: 600;
				margin-top: 25px;
				display: inline-block;
			}
		}
		
	}
}

.items-article{
	margin-top: -15em;
	.items-list{
		width: 100%;
		background-color: $color-white;
		box-shadow: 2px 8px 11px rgba(134, 134, 134, 0.52);
		border-radius: 5px;
		text-align: center;
		color: $color-black;
		position: relative;
		padding-bottom: 20px;
		img{
			width: 100%;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
		.title{
			font-family: $fontLato;
			font-weight: 600;
			font-size: 20px;
			font-size: 25px;
		}
		p{
			font-family: $fontLato;
			font-size: 14px;
			padding: 0 30px;
			margin-bottom: 35px;
		}
		.readmore-v2{
			position: absolute;
			bottom: -20px;
			left: 50%;
			transform: translate(-50%);
		}
	}
}

.readmore-v2{
	background: linear-gradient(to right, #de813c , #3f519a);
	padding: 12px 25px;
	border-radius: 30px;
	color: $color-white;
	font-weight: 600;
	margin-top: 25px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	&:hover{
		color: $color-white;
		text-decoration: none;
	}
}

.agency-desc{
	padding-top: 8em;
	.desc{
		width: 30%;
		display: inline-block;
		vertical-align: top;
		h1{
			font-family: $font-bernadette;
			color: $color-black;
			font-size: 45px;
			margin-bottom: 20px;
		}
		p{
			font-family: $fontLato;
			font-size: 14px;
			margin-bottom: 0;
		}
	}
	.alphaz{
		max-width: 450px;
	}
	.desc2{
		width: 30%;
		display: inline-block;
		vertical-align: top;
		margin-top: 70px;
		h1{
			font-family: $font-bernadette;
			color: $color-black;
			font-size: 45px;
			margin-bottom: 20px;
		}
		p{
			font-family: $fontLato;
			font-size: 14px;
			margin-bottom: 0;
			margin-left: -60px;
			font-style: italic;
		}
	}
}

.features{
	position: relative;
	padding: 6em 0;
	.feature-list{
		.box-feature{
			border-radius: 5px;
			margin-bottom: 30px;
			width: 100%;
			min-height: 355px;
		}
	}
	.feature-box{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: $color-white;
		padding: 40px 50px;
		width: 660px;
		text-align: center;
		border-radius: 5px;
		h1{
			font-family: $font-bernadette;
			color: $color-black;
			margin-bottom: 35px;
			margin-top: 0;
		}
	}
}