@@include('./layout/component/head.html')
	@@include('./layout/component/header.html')
	
	<section class="banner">
		<div class="bg-banner">
			<div class="decs-banner">
				<h1>Simply the Best</h1>
				<h4>Reasons for Choosing Us</h4>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				<a href="#" class="readmore">Read More</a>
			</div>
		</div>
	</section>

	<section class="items-article">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="items-list">
						<img src="/assets/images/items1.jpg" alt="items">
						<h2 class="title">Best Track Record</h2>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor</p>
						<a href="#" class="readmore-v2">Read More</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="items-list">
						<img src="/assets/images/items2.jpg" alt="items">
						<h2 class="title">Trusted by leaders</h2>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor</p>
						<a href="#" class="readmore-v2">Read More</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="items-list">
						<img src="/assets/images/items3.jpg" alt="items">
						<h2 class="title">Brand Equity</h2>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor</p>
						<a href="#" class="readmore-v2">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="agency-desc">
		<div class="container">
			<div class="row">
				<div class="desc">
					<h1>We are<br>Creative Agency</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
					<p>commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<a href="#" class="readmore-v2">Read More</a>
				</div>
				<img src="/assets/images/alpha.png" alt="Alpha" class="alphaz">
				<div class="desc2">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<h1>Anita Allen </h1>
				</div>
			</div>
		</div>
	</section>

	<section class="features">
		<div class="container">
			<div class="row">
				<div class="feature-list">
					<div class="col-md-6"><img src="/assets/images/feature1.jpg" alt="" class="box-feature"></div>
					<div class="col-md-6"><img src="/assets/images/feature2.jpg" alt="" class="box-feature"></div>
					<div class="col-md-6"><img src="/assets/images/feature3.jpg" alt="" class="box-feature"></div>
					<div class="col-md-6"><img src="/assets/images/feature4.jpg" alt="" class="box-feature"></div>
				</div>
				<div class="feature-box">
					<h1>Amazing features</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<a href="#" class="readmore-v2">Read More</a>
				</div>
			</div>
		</div>
	</section>

@@include('./layout/component/footer.html')