	<footer>
		
	</footer>

	<!-- build:js assets/vendor/scripts/vendor.min.js?v=0.7 -->
	<script src="assets/vendor/scripts/jquery-3.2.1.min.js"></script>
	<script src="assets/vendor/scripts/bootstrap.min.js"></script>
	<script src="assets/scripts/main.js"></script>
	<!-- endbuild -->

	<script src='https://www.google.com/recaptcha/api.js'></script>