    <header>
        <div class="logo">
        	<a href="/"><img src="/assets/images/logo.png" alt="Logo"></a>
        </div>
        <div class="menu">
        	<ul>
        		<li><a href="#">Features</a></li>
        		<li><a href="#">Offer</a></li>
        		<li><a href="#">Pricing</a></li>
        		<li><a href="#">Client</a></li>
        		<li><a href="#">Facts</a></li>
        		<li><a href="#">Projects</a></li>
        		<li><a href="#">Team</a></li>
        		<li><a href="#">Contacts</a></li>
        	</ul>
        </div>
    </header>